@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

a{
  color: black !important;
}

.brand-logo , h2 ,li{
  font-family: 'Caveat', cursive;
  font-family: 'Courgette', cursive;
  }
  
h5{
  font-size: 15px;

  
}
.mycard , .card{
  border-radius: 20pt;
  padding:  20px;
  max-width: 500px;
  margin: 10px auto;

}

.auth-card{
  padding:  20px;
  text-align: center;
  
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid rgb(102, 31, 150) !important;
  box-shadow: 0 1px 0 0 rgb(102, 31, 150) !important;
}
.btn{
  border-radius: 20pt;
  
}

.home-card{
  max-width: 500px;
  height: max-content;
  margin: 25px auto;
}
.item{
  width: 30%;
}
.text{
  font-family: 'Caveat', cursive;
}

#toast-container{
  top: 30px !important;
  right: 20px !important;
  left: auto !important;
}

.material-icons:hover{
  cursor: pointer;
}
